# Supabase Configuration
VITE_SUPABASE_URL=https://meu-id.supabase.co
VITE_SUPABASE_KEY=minha-secret

# Bucket paths (include subfolder if needed)
VITE_SUPABASE_BUCKET_CATALOGOS=imagens/catalogos
VITE_SUPABASE_BUCKET_PRESTADORES=imagens/prestadores
